@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* Optional: Add this if you want to prevent any potential background image flickering */
* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}